body{
    padding:0px;
    margin: 0px;
}
.menu{
    background-color: yellow;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    align-items: center;

}
.menu h1{
    color: black;
    align-self: center;
    font-size: 4em;
    font-family: 'Bebas Neue';
}
.reloj {
    border:none;
    background-color: black;
    color : white; 
    font-family: 'Bebas Neue';
    font-size : 3em; 
    text-align : center;
}
.credits{
    color: black;
    font-family: 'Poppins';
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
}